<div class="box">
    <h1 class="text-center">Products</h1>
    <br>

    <div class="form-group">
        <input type="text" class="form-control" placeholder="Search Here" [(ngModel)]="term">
    </div>

    <div class="row">
        <table class="table">
            <thead>
                <tr>
                    <th>Id</th>
                    <th scope="col">Name</th>
                    <th scope="col">Calories</th>
                    <th scope="col">Proteins</th>
                    <th scope="col">Carbohydrates</th>
                    <th scope="col">Fats</th>
                    <th>Delete</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let products of productService.list | filter:term | paginate: { itemsPerPage: 15, currentPage: p }; ">
                    <td [routerLink]="['/admin-panel/edit-product', {id: products.id, name: products.name, calories: products.calories, proteins: products.proteins, carbohydrates: products.carbohydrates, fats: products.fats}]">{{products.id}}</td>
                    <td [routerLink]="['/admin-panel/edit-product', {id: products.id, name: products.name, calories: products.calories, proteins: products.proteins, carbohydrates: products.carbohydrates, fats: products.fats}]">{{products.name}}</td>
                    <td [routerLink]="['/admin-panel/edit-product', {id: products.id, name: products.name, calories: products.calories, proteins: products.proteins, carbohydrates: products.carbohydrates, fats: products.fats}]">{{products.calories}}</td>
                    <td [routerLink]="['/admin-panel/edit-product', {id: products.id, name: products.name, calories: products.calories, proteins: products.proteins, carbohydrates: products.carbohydrates, fats: products.fats}]">{{products.proteins}}</td>
                    <td [routerLink]="['/admin-panel/edit-product', {id: products.id, name: products.name, calories: products.calories, proteins: products.proteins, carbohydrates: products.carbohydrates, fats: products.fats}]">{{products.carbohydrates}}</td>
                    <td [routerLink]="['/admin-panel/edit-product', {id: products.id, name: products.name, calories: products.calories, proteins: products.proteins, carbohydrates: products.carbohydrates, fats: products.fats}]">{{products.fats}}</td>
                    <td>
                        <i class="far fa-trash-alt fa-lg text-danger" (click)="onDelete(products.id)"></i>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="pagination ">
        <pagination-controls (pageChange)="p = $event"></pagination-controls>
    </div>
    <div class="row">
        <div class="col"><a class="btn btn-outline-dark btn-lg" [routerLink]="['/admin-panel/add-product']">Add product</a></div>
    </div>

</div>