<form #form="ngForm" autocomplete="off" (submit)="add(form)" *ngIf="user">
    <div class="form-group">
        <select class="custom-select" name="productId" #productId="ngModel" [(ngModel)]="userProductService.form.product.id" required>
            <option *ngFor="let product of productService.list" value={{product.id}}>{{product.name}}</option>
        </select>
    </div>
    <div class="form-group">
        <div class="input-group">
            <div class="input-group-prepend">
                <div class="input-group-text bg-white">
                    <i class="fas fa-weight"></i>
                </div>
            </div>
            <input type="number" name="weight" #weight="ngModel" [(ngModel)]="userProductService.form.weight" class="form-control" placeholder="Weight in grams" required>
        </div>
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-lg" [disabled]="form.invalid"><i class="fas fa-plus"></i>Add</button>
    </div>
</form>