.forgot-password {
  padding-top: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

h1 {
  font-size: 2.4rem;
  font-weight: 700;
}
p {
  font-size: 1.5rem;
}

.forgot-item {
  margin: 0 auto;
}

form {
  margin: 0 auto;
  padding-bottom: 2rem;
}

.control-label {
  letter-spacing: 0.1rem;
}

div.form-group label:first-child {
  text-transform: uppercase;
  font-size: 0.9rem;
}

input.form-control {
  max-width: 500px;
}

input.form-control:focus {
  border: 1px solid black;
}

@media screen and (max-width: 1024px) {
  .forgot-password {
    margin: 0 auto;
    width: 60%;
  }

  div.form-group label:first-child {
    text-transform: uppercase;
    font-size: 1.3rem;
  }

  input.form-control {
    font-size: 1.3rem;
  }

  form button {
    font-size: 1.4rem;
  }
}

@media screen and (max-width: 440px) {
  h1 {
    font-size: 1.6rem;
  }
  .forgot-item {
    margin: 0 1rem;
  }
}
