<div class="forgot-password" (submit)="onSubmit()">
  <div class="forgot-item">
    <h1>Forgot Password</h1>
    <p>Enter your email adress, on which we will send reset password email.</p>
    <form [formGroup]="forgotPasswordForm" class="forgot-form">
      <div class="form-group">
        <label class="control-label">Your email address</label>
        <input type="email" class="form-control" formControlName="email" />
        <label
          class="text-danger"
          *ngIf="submitted && form.email.errors?.required"
          >Email is required.</label
        >
        <label class="text-danger" *ngIf="submitted && form.email.errors?.email"
          >Bad email format.</label
        >
      </div>
      <button type="submit" class="btn btn-secondary">Send</button>
    </form>
  </div>
</div>
