.forgot-password {
  padding-top: 6rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.forgot-item {
  width: 500px;
  margin: 0 auto;
  padding-bottom: 1.5rem;
}

.control-label {
  letter-spacing: 0.1rem;
}

div.form-group label:first-child {
  text-transform: uppercase;
  font-size: 0.9rem;
}

input.form-control:focus {
  border: 1px solid black;
}
