<h1>Edit weight of product</h1>
<form #form="ngForm" autocomplete="off" (submit)="edit(form)">
    <div class="form-group">
        <input class="form-control" name="productName" #productName="ngModel" [(ngModel)]="userProductService.form.product.name" value="{{userProductService.form.product.name}}" readonly>
    </div>
    <div class="form-group">
        <div class="input-group">
            <div class="input-group-prepend">
                <div class="input-group-text bg-white">
                    <i class="fas fa-weight"></i>
                </div>
            </div>
            <input type="number" name="weight" #weight="ngModel" [(ngModel)]="userProductService.form.weight" class="form-control" placeholder="Weight in grams" required>
        </div>
    </div>
    <div class="form-group">
        <button class="btn btn-lg cancel" [routerLink]="['/account/account-products']">Cancel</button>
        <button type="submit" class="btn btn-lg" [disabled]="form.invalid">Edit</button>
    </div>
</form>