<div id="home" class="landing">
    <div class="home-wrap">
        <div class="home-inner">
            <img src="assets/img/landing.jpg">
        </div>
    </div>
</div>

<div class="caption text-center">
    <h1>Welcome to Fitweb</h1>
    <h3>Training and diet app</h3>
</div>

<div id="features" class="offset">
    <div class="jumbotron">
        <div class="narrow text-center">
            <div class="col-12">
                <h3 class="heading">Features</h3>
                <div class="heading-underline"></div>
            </div>
            <div class="row text-center">

                <div class="col-md-4">
                    <div class="feature">
                        <i class="fas fa-dumbbell fa-4x"></i>
                        <p>Choose exercises and have your training in one place</p>
                        <a class="btn btn-outline-dark btn-lg" [routerLink]="['/account/account-exercises']">Create training</a>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="feature">
                        <i class="fas fa-utensils fa-4x"></i>
                        <p>Choose products and have your diet in one place</p>
                        <a class="btn btn-outline-dark btn-lg" [routerLink]="['/account/account-products']">Create diet</a>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="feature">
                        <i class="far fa-sticky-note fa-4x"></i>
                        <p>Set your macronutrients demand and control it</p>
                        <a class="btn btn-outline-dark btn-lg" [routerLink]="['/account/calories']">Check it</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>