<h1>Edit exercise information</h1>
<form #form="ngForm" autocomplete="off" (submit)="edit(form)">
    <div class="form-group">
        Exercise name
        <input class="form-control" name="exerciseName" #exerciseName="ngModel" [(ngModel)]="userExerciseService.form.exercise.name" value="{{userExerciseService.form.exercise.name}}" readonly>
    </div>
    <div class="form-group">
        <div class="input-group">
            <div class="input-group-prepend">
                <div class="input-group-text bg-white">
                    <i class="fas fa-weight"></i>
                </div>
            </div>
            <input type="number" name="numberOfSets" #numberOfSets="ngModel" [(ngModel)]="userExerciseService.form.numberOfSets" class="form-control" placeholder="Number of sets" required>
        </div>
    </div>
    <div class="form-group">
        <div class="input-group">
            <div class="input-group-prepend">
                <div class="input-group-text bg-white">
                    <i class="fas fa-weight"></i>
                </div>
            </div>
            <input type="number" name="numberOfReps" #numberOfReps="ngModel" [(ngModel)]="userExerciseService.form.numberOfReps" class="form-control" placeholder="Number of reps" required>
        </div>
    </div>
    <div class="form-group">
        <div class="input-group">
            <div class="input-group-prepend">
                <div class="input-group-text bg-white">
                    <i class="fas fa-weight"></i>
                </div>
            </div>
            <input type="number" name="weight" #weight="ngModel" [(ngModel)]="userExerciseService.form.weight" class="form-control" placeholder="Weight in kilograms" required>
        </div>
    </div>
    <div class="form-group">
        Exercise day
        <select class="custom-select" name="day" #exerciseid="ngModel" [(ngModel)]="userExerciseService.form.day">
            <option *ngFor="let day of dayService.days"  value={{day.name}}>{{day.name}}</option>
        </select>
    </div>
    <div class="form-group">
        <button class="btn btn-lg cancel" [routerLink]="['/account/account-exercises']">Cancel</button>
        <button type="submit" class="btn btn-lg" [disabled]="form.invalid">Edit</button>
    </div>
</form>