.box {
    height: 100%;
    width: 100%;
}

h1 {
    padding-top: 30px;
}

.btn {
    position: relative;
    right: -80%;
    background: green;
    border-radius: 1.5rem;
    border: none;
    padding: .6rem 2rem;
    margin-left: 0.5rem;
    font-size: 1rem;
    background-color: rgb(42, 206, 99);
}

button[type=submit].btn {
    border-radius: 20px;
    color: #fff;
    letter-spacing: 0.2rem;
    text-transform: uppercase;
    font-weight: 500;
}

button[type=submit].btn:hover {
    transform: scale(1.1, 1.1);
    -webkit-transform: scale(1.1, 1.1);
    -moz-transform: scale(1.1, 1.1);
}

.cancel {
    background: none;
    font-size: 1.5rem;
    color: grey;
}

.cancel:hover {
    color: black;
}