<div class="box">
    <h1>Edit product</h1>
    <form #form="ngForm" autocomplete="off" (submit)="edit(form)">
        <div class="form-group">
            <label class="control-label">Name</label>
            <input class="form-control" name="productName" #productName="ngModel" [(ngModel)]="productService.formData.name" value="{{productService.formData.name}}">
        </div>
        <div class="form-group">
            <label class="control-label">Calories</label>
            <input class="form-control" name="productCalories" #productCalories="ngModel" [(ngModel)]="productService.formData.calories" value="{{productService.formData.calories}}">
        </div>
        <div class="form-group">
            <label class="control-label">Proteins</label>
            <input class="form-control" name="productProteins" #productProteins="ngModel" [(ngModel)]="productService.formData.proteins" value="{{productService.formData.proteins}}">
        </div>
        <div class="form-group">
            <label class="control-label">Carbohydrates</label>
            <input class="form-control" name="productCarbohydrates" #productCarbohydrates="ngModel" [(ngModel)]="productService.formData.carbohydrates" value="{{productService.formData.carbohydrates}}">
        </div>
        <div class="form-group">
            <label class="control-label">Fats</label>
            <input class="form-control" name="productFats" #productFats="ngModel" [(ngModel)]="productService.formData.fats" value="{{productService.formData.fats}}">
        </div>
        <div class="form-group">
            <button class="btn btn-lg cancel" [routerLink]="['/admin-panel/products']">Cancel</button>
            <button type="submit" class="btn btn-lg">Edit</button>
        </div>
    </form>
</div>