.forgot-password a {
  text-decoration: none;
  color: white;
}

.forgot-password a:hover {
  color: #16caaf;
  cursor: pointer;
}

@media screen and (max-width: 1028px) {
  .forgot-password {
    font-size: 1.2rem;
  }
}
