.products {
  margin-top: 1rem;
}

.info-icon {
  width: 90%;
  display: flex;
  justify-content: flex-end;
}

.info-icon i {
  font-size: 1.5rem;
}

.info-icon i:hover {
  color: #1ebba3;
  cursor: pointer;
}

::ng-deep .tooltip-inner {
  background-color: #1ebba3;
  color: black;
  font-size: 1rem;
}

.search-bar {
  display: flex;
  margin: 0 auto;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: row;
}

select {
  cursor: pointer;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.input-group {
  padding: 0 1rem;
  width: 400px;
}

.form-control {
  cursor: pointer;
  font-weight: 700;
  letter-spacing: 0.1rem;
}

.form-control:hover {
  border: 1px solid #1ebba3;
}

.form-control:focus,
select:focus {
  border: 1px solid #1ebba3;
  box-shadow: 0px 0px 20px 6px rgba(30, 187, 163, 0.37);
}

.content {
  width: 90%;
  display: flex;
  margin: 0 auto;
}

table th {
  font-size: 1.3rem;
  text-align: center;
}

td {
  cursor: pointer;
}

.pagination-container {
  padding-bottom: 3rem;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.my-pagination ::ng-deep .ngx-pagination a:hover {
  color: #1ebba3;
  background: none;
}

.my-pagination ::ng-deep .current {
  background: #94f8e9;
  color: black;
}

.page-size {
  position: absolute;
  right: 0;
  margin-right: 2rem;
}

@media screen and (max-width: 1028px) {
  .info-icon {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 1rem 0;
  }

  .form-control {
    font-size: 1.5rem;
  }

  table th {
    font-size: 1.8rem;
  }

  table td {
    font-size: 1.5rem;
  }

  .pagination {
    font-size: 1.5rem;
  }
  .page-size {
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 440px) {
  .pagination {
    margin-right: 2rem;
  }
}

@media screen and (max-width: 320px) {
  .my-pagination {
    font-size: 0.9rem;
  }

  .pagination {
    padding-right: 2.5rem;
  }

  .pagination {
    width: 100%;
  }

  .page-size {
    margin-right: 1rem;
    font-size: 1rem;
  }
}
