<h2>Edit your password</h2>
<form [formGroup]="accountService.passwordFormModel" autocomplete="off" *ngIf="user" (submit)="onSubmit()">
    <div type="hidden" *ngIf="accountService.passwordFormModel" [value]="user.id"></div>
    <div formGroupName="Passwords">
        <div class="form-group required">
            <label class="control-label">New password</label>
            <input type="password" class="form-control" formControlName="Password">
            <label class="text-danger" *ngIf="accountService.passwordFormModel.get('Passwords.Password').touched && accountService.passwordFormModel.get('Passwords.Password').errors?.required">This
        field is mandatory.</label>
            <label class="text-danger" *ngIf="accountService.passwordFormModel.get('Passwords.Password').touched && accountService.passwordFormModel.get('Passwords.Password').errors?.pattern">Must contain at least one letter, one number and min. 6 chars</label>
        </div>
        <div class="form-group required">
            <label class="control-label">Confirm Password</label>
            <input type="password" class="form-control" formControlName="ConfirmPassword">
            <label class="text-danger" *ngIf="accountService.passwordFormModel.get('Passwords.ConfirmPassword').touched && accountService.passwordFormModel.get('Passwords.ConfirmPassword').errors?.required">This
        field is mandatory.</label>
            <label class="text-danger" *ngIf="accountService.passwordFormModel.get('Passwords.ConfirmPassword').touched && accountService.passwordFormModel.get('Passwords.ConfirmPassword').errors?.passwordMismatch">Confirm
        Password does not match.</label>
        </div>
    </div>
    <button class="btn btn-lg cancel" [routerLink]="['/account/account-detail']">Cancel</button>
    <button type="submit" class="btn btn-lg" [disabled]="!accountService.passwordFormModel.valid">Change password</button>
</form>