<div class="box">
    <div class="row">
        <div class="col-md-2">
            <ul class="list-group">
                <li class="list-group-item">
                    <i class="fas fa-home"> <a class="list-group-item-action active" [routerLink]="[ '/account/account-detail']" > Account details</a></i>
                </li>
                <li class="list-group-item ">
                    <i class="fas fa-list"> <a class="list-group-item-action " [routerLink]="[ '/account/account-products'] " > Your Products</a></i>
                </li>
                <li class="list-group-item ">
                    <i class="fas fa-list"> <a class="list-group-item-action" [routerLink]="[ '/account/account-exercises'] " > Your exercises</a></i>
                </li>
                <li class="list-group-item ">
                    <i class="fas fa-list"> <a class="list-group-item-action" [routerLink]="[ '/account/calories'] " > Today's calories</a></i>
                </li>
            </ul>
        </div>
        <div class="col-md-10">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>

<script>
    var btnContainer = document.getElementsByClassName("list-group-item");

    // Get all buttons with class="btn" inside the container
    var btns = btnContainer.getElementsByClassName("link-group-item-action");

    // Loop through the buttons and add the active class to the current/clicked button
    for (var i = 0; i < btns.length; i++) {
        btns[i].addEventListener("click", function() {
            var current = document.getElementsByClassName("active");

            // If there's no active class
            if (current.length > 0) {
                current[0].className = current[0].className.replace(" active", "");
            }

            // Add the active class to the current/clicked button
            this.className += " active";
        });
    }
</script>