<div class="reset-password">
  <div class="card">
    <div class="card-body">
      <h1 class="card-title">Reset Password</h1>
      <div *ngIf="showError" class="alert alert-danger" role="alert">
        {{ error }}
      </div>
      <div *ngIf="showSuccess" class="alert alert-success" role="alert">
        Your password has been successfully reset.
      </div>
    </div>
  </div>

  <form [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()">
    <div formGroupName="passwords">
      <div class="form-group">
        <label class="control-label">New password</label>
        <input
          type="password"
          class="form-control"
          formControlName="password"
        />
        <label
          class="text-danger"
          *ngIf="submitted && form.passwords.get('password').errors?.required"
        >
          Password is required.
        </label>
      </div>
      <div class="form-group">
        <label class="control-label">Confirm password</label>
        <input
          type="password"
          class="form-control"
          formControlName="confirmPassword"
        />
        <label
          class="text-danger"
          *ngIf="
            submitted && form.passwords.get('confirmPassword').errors?.required
          "
        >
          Password is required.
        </label>
        <label
          class="text-danger"
          *ngIf="
            submitted && resetPasswordForm.get('passwords').errors?.notSame
          "
          >Passwords are not the same.</label
        >
        <label class="text-danger" *ngIf="submitted && error">
          {{ error }}</label
        >
      </div>
      <button type="submit" class="btn btn-secondary">Change</button>
    </div>
  </form>
</div>
