.reset-password {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 0 auto;
  width: 700px;
}
.card {
  padding-top: 6rem;
  background: none;
  border: none;
}

a {
  text-decoration: none;
}
