<div class="box">
    <h1 class="text-center">Users and their products</h1>
    <br>

    <div class="form-group">
        <input type="text" class="form-control" placeholder="Search Here" [(ngModel)]="term">
    </div>
    <table class="table table-hover">
        <thead>
            <th>User id</th>
            <th>Product id</th>
            <th>Product name</th>
        </thead>
        <tr *ngFor="let userProducts of userProductService.list | filter:term | paginate: { itemsPerPage: 15, currentPage: p }; ">
            <td>{{userProducts.userId}}</td>
            <td>{{userProducts?.product.id}}</td>
            <td>{{userProducts.product.name}}</td>
        </tr>
    </table>
    <div class="pagination ">
        <pagination-controls (pageChange)="p = $event"></pagination-controls>
    </div>
</div>