<h2>Set diet goals</h2>
<form [formGroup]="dietGoalService.formModel" autocomplete="off" *ngIf="user" (submit)="onSubmit()">
    <div type="hidden" *ngIf="dietGoalService.formModel" [value]="user.id"></div>
    <div class="form-group">
        <label class="control-label" for="totalCalories">Total calories</label>
        <input class="form-control" id="totalCalories" placeholder="Enter totalCalories" formControlName="TotalCalories" required>
        <label class="text-danger" *ngIf="dietGoalService.formModel.get('TotalCalories').touched && dietGoalService.formModel.get('TotalCalories').errors?.required">This
            field is mandatory.</label>
    </div>
    <div class="form-group">
        <label class="control-label" for="proteins">Proteins</label>
        <input class="form-control" id="proteins" placeholder="Enter proteins" formControlName="Proteins" required>
        <label class="text-danger" *ngIf="dietGoalService.formModel.get('Proteins').touched && dietGoalService.formModel.get('Proteins').errors?.required">This
            field is mandatory.</label>
    </div>
    <div class="form-group">
        <label for="carbohydrates" class="control-label">Carbohydrates</label>
        <input class="form-control" id="carbohydrates" placeholder="Enter carbohydrates" formControlName="Carbohydrates" required>
        <label class="text-danger" *ngIf="dietGoalService.formModel.get('Carbohydrates').touched && dietGoalService.formModel.get('Carbohydrates').errors?.required">This
            field is mandatory.</label>
    </div>
    <div class="form-group">
        <label for="fats" class="control-label">Fats</label>
        <input class="form-control" id="fats" placeholder="Enter fats" formControlName="Fats" required>
        <label class="text-danger" *ngIf="dietGoalService.formModel.get('Fats').touched && dietGoalService.formModel.get('TotalCalories').errors?.required">This
            field is mandatory.</label>
    </div>
    <div>
        <button class="btn btn-lg cancel" [routerLink]="['/account/account-detail']">Cancel</button>
        <button type="submit" class="btn btn-lg" [disabled]="!dietGoalService.formModel.valid">Set goals</button>
    </div>
</form>