<div class="box">
    <h1 class="text-center">Exercises</h1>
    <br>

    <div class="form-group">
        <input type="text" class="form-control" placeholder="Search Here" [(ngModel)]="term">
    </div>

    <div class="row">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Name</th>
                    <th scope="col">Part of body</th>
                    <th>Delete</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let exercise of exerciseService.list | filter:term | paginate: { itemsPerPage: 15, currentPage: p }; ">
                    <td>{{exercise.id}}</td>
                    <td>{{exercise.name}}</td>
                    <td>{{exercise.partOfBody}}</td>
                    <td>
                        <i class="far fa-trash-alt fa-lg text-danger" (click)="onDelete(products.id)"></i>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="pagination ">
        <pagination-controls (pageChange)="p = $event"></pagination-controls>
    </div>
    <div class="row">
        <div class="col"><a class="btn btn-outline-dark btn-lg" [routerLink]="['/admin-panel/add-exercise']">Add exercise</a></div>
    </div>
</div>