<form [formGroup]="signUpForm" autocomplete="off" (ngSubmit)="onSubmit()">
  <div class="form-group required">
    <label class="control-label">Username</label>
    <input class="form-control" formControlName="username" />
    <label
      class="text-danger"
      *ngIf="submitted && form.username.errors?.required"
      >Username is required.</label
    >
    <label
      class="text-danger"
      *ngIf="
        submitted &&
        (form.username.errors?.minlength || form.username.errors?.maxlength)
      "
    >
      Username must contain min. 4 characters and max. 40characters.
    </label>
    <!-- <label
      class="text-danger"
      *ngIf="submitted && !form.username.errors?.pattern"
      >
    </label> -->
  </div>
  <div class="form-group required">
    <label class="control-label">Email</label>
    <input class="form-control" formControlName="email" />
    <label class="text-danger" *ngIf="submitted && form.email.errors?.required"
      >Email is required.</label
    >
    <label class="text-danger" *ngIf="form.email.errors?.email"
      >Bad email format.</label
    >
  </div>
  <div formGroupName="passwords">
    <div class="form-group required">
      <label class="control-label">Password</label>
      <input type="password" class="form-control" formControlName="password" />
      <label
        class="text-danger"
        *ngIf="submitted && form.passwords.get('password').errors?.required"
        >Password is required.</label
      >
      <!-- <label
        class="text-danger"
        *ngIf="submitted && form.passwords.get('password').errors?.pattern"
        >Password must contain min. 6 characters and max. 20characters, 1
        uppercase letter, 1 lowercase letter and 1 number.
      </label> -->
    </div>
    <div class="form-group required">
      <label class="control-label">Confirm Password</label>
      <input
        type="password"
        class="form-control"
        formControlName="confirmPassword"
      />
      <label
        class="text-danger"
        *ngIf="
          submitted && form.passwords.get('confirmPassword').errors?.required
        "
        >Confirm password is required.</label
      >
      <label
        class="text-danger"
        *ngIf="signUpForm.get('passwords').errors?.notSame && submitted"
      >
        Passwords are not the same.
      </label>
      <label class="text-danger" *ngIf="submitted && error">{{ error }}</label>
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-8 offset-md-2">
      <button type="submit" class="btn btn-lg btn-block">Sign Up</button>
    </div>
  </div>
</form>
