<div class="exercises">
  <h1 class="text-center">Exercises</h1>

  <div class="search-bar">
    <div class="input-group mb-3">
      <input
        type="text"
        class="form-control"
        placeholder="Search exercise"
        [ngModel]="searchText"
        (ngModelChange)="onSearchChanged.next($event)"
      />
    </div>

    <div class="input-group">
      <select
        class="form-control select-categories mb-3"
        (change)="onPartChange($event)"
      >
        <option value="">All parts</option>
        <option *ngFor="let part of parts">{{ part.name }}</option>
      </select>
    </div>
  </div>

  <div class="content">
    <table class="table">
      <thead>
        <tr>
          <th>Name</th>
          <th>Part of body</th>
        </tr>
      </thead>
      <tbody>
        <tr
          *ngFor="
            let exercise of exercises
              | paginate
                : {
                    itemsPerPage: this.paginationQuery.pageSize,
                    currentPage: this.paginationQuery.pageNumber,
                    totalItems: this.totalItems
                  };
            let i = index
          "
        >
          <td (click)="open(content, exercise)">{{ exercise.name }}</td>
          <td (click)="open(content, exercise)">{{ exercise.partOfBody }}</td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="pagination-container">
    <div class="pagination">
      <pagination-controls
        class="my-pagination"
        (pageChange)="onPageChange($event)"
        responsive="true"
        autoHide="true"
      >
      </pagination-controls>
    </div>
    <div class="page-size">
      <span class="mr-2">Item per page: </span>
      <select (change)="onPageSizeChange($event)">
        <option *ngFor="let size of sizes">
          {{ size }}
        </option>
      </select>
    </div>
  </div>
</div>

<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">
      {{ modalExercise.name }}
    </h4>
    <button
      type="button"
      class="close"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    >
      <span aria-hidden="true"> × </span>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="addExercise">
      <input type="hidden" value="{{ modalExercise.id }}" />
      <div class="row">
        <div class="col">
          <label> Weight in kg </label>
          <input class="form-control" formControlName="weight" />
          <label
            class="text-danger"
            *ngIf="
              addExercise.controls.weight.touched &&
              addExercise.controls.weight.errors?.required
            "
            >This field is required</label
          >
          <label
            class="text-danger"
            *ngIf="
              addExercise.controls.weight.touched &&
              addExercise.controls.weight.errors?.pattern
            "
            >It's not number</label
          >
        </div>
        <div class="col">
          <label> Number of sets </label>
          <input class="form-control" formControlName="numberOfSets" />
          <label
            class="text-danger"
            *ngIf="
              addExercise.controls.numberOfSets.touched &&
              addExercise.controls.numberOfSets.errors?.required
            "
            >This field is required</label
          >
          <label
            class="text-danger"
            *ngIf="
              addExercise.controls.numberOfSets.touched &&
              addExercise.controls.numberOfSets.errors?.pattern
            "
            >It's not number</label
          >
        </div>
      </div>

      <div class="row">
        <div class="col">
          <label> Number of reps </label>
          <input class="form-control" formControlName="numberOfReps" />
          <label
            class="text-danger"
            *ngIf="
              addExercise.controls.numberOfReps.touched &&
              addExercise.controls.numberOfReps.errors?.required
            "
            >This field is required</label
          >
          <label
            class="text-danger"
            *ngIf="
              addExercise.controls.numberOfReps.touched &&
              addExercise.controls.numberOfReps.errors?.pattern
            "
            >It's not number</label
          >
          <label class="text-danger" *ngIf="error">{{ error }}</label>
        </div>
        <div class="col">
          <label>Day of training</label>
          <select class="form-control" formControlName="day">
            <option value="">Select day</option>
            <option *ngFor="let day of days" [ngValue]="day">
              {{ day.name }}
            </option>
          </select>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-outline-dark"
      [disabled]="addExercise.invalid"
      (click)="closeModal(modal)"
      *ngIf="currentUser"
    >
      Save
    </button>
  </div>
</ng-template>
