h2 {
    margin: 1rem 0 1rem;
}

input.form-control {
    border: 1px solid #636b7b;
    box-shadow: none !important
}

input.form-control:focus,
input.form-control:active {
    border: 2px solid rgba(0, 0, 0, 0.7);
}

.control-label {
    color: black;
    letter-spacing: 0.1rem;
}

.btn {
    position: relative;
    right: -75%;
    background: green;
    border-radius: 1.5rem;
    border: none;
    padding: .6rem 2rem;
    margin-left: 0.5rem;
    font-size: 1rem;
    background-color: rgb(42, 206, 99);
}

.cancel {
    background: none;
    font-size: 1.5rem;
    color: grey;
}

.cancel:hover {
    color: black;
}

button[type=submit].btn {
    border-radius: 20px;
    color: #fff;
    letter-spacing: 0.2rem;
    text-transform: uppercase;
    font-weight: 500;
}

button[type=submit].btn:hover {
    transform: scale(1.1, 1.1);
    -webkit-transform: scale(1.1, 1.1);
    -moz-transform: scale(1.1, 1.1);
}

input:focus:required:invalid {
    border: 1px solid #dc3545;
}

input:required:valid {
    border: 1px solid green;
}

div.form-group label:first-child {
    text-transform: uppercase;
    font-size: 0.9rem;
}

@media (max-width: 767px) {
    h1 {
        font-size: 1.6rem;
    }
    .btn {
        position: relative;
        right: -10%;
        background: green;
        border-radius: 1.5rem;
        border: none;
        padding: .6rem 1.5rem;
        margin-left: 0.5rem;
        font-size: 1rem;
        background-color: rgb(42, 206, 99);
    }
    button[type=submit].btn {
        border-radius: 20px;
        color: #fff;
        letter-spacing: 0.2rem;
        text-transform: uppercase;
        font-weight: 500;
    }
    button[type=submit].btn:hover {
        transform: scale(1.1rem, 1.1rem);
        -webkit-transform: scale(1.1rem, 1.1rem);
        -moz-transform: scale(1.1rem, 1.1rem);
    }
    .cancel {
        background: none;
        font-size: 1.2rem;
        color: grey;
    }
    .cancel:hover {
        color: black;
    }
}