<h2>Edit your profile</h2>
<form [formGroup]="accountService.formModel" autocomplete="off" *ngIf="user" (submit)="onSubmit()">
    <div type="hidden" *ngIf="accountService.formModel" [value]="user.id"></div>
    <div class="form-group">
        <label class="control-label" for="username">Username</label>
        <input class="form-control" id="username" placeholder="Enter username" formControlName="Username" required>
        <label class="text-danger" *ngIf="accountService.formModel.get('Username').touched && accountService.formModel.get('Username').errors?.required">This
            field is mandatory.</label>
    </div>
    <div class="form-group">
        <label class="control-label" for="email">Email</label>
        <input type="email" class="form-control" id="email" placeholder="Enter email" formControlName="Email" required>
        <label class="text-danger" *ngIf="accountService.formModel.get('Email').touched && accountService.formModel.get('Email').errors?.required">This
            field is mandatory</label>
        <label class="text-danger" *ngIf="accountService.formModel.get('Email').touched && accountService.formModel.get('Email').errors?.email">Invalid
              email address.</label>
    </div>
    <div>
        <button class="btn btn-lg cancel" [routerLink]="['/account/account-detail']">Cancel</button>
        <button type="submit" class="btn btn-lg" [disabled]="!accountService.formModel.valid">Save profile</button>
    </div>
</form>