.wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 4rem;
    width: 100%;
    min-height: 100%;
}

.control-label {
    letter-spacing: 0.1rem;
}

.form-group:focus-within .control-label {
    color: white;
}

input.form-control {
    background-color: #636b7b;
    color: #fff;
    border: 1px solid #636b7b;
    width: 370px;
}

input.form-control:focus {
    border: 1px solid white;
}

button[type=submit].btn {
    border-radius: 20px;
    background-color: #5a5a5a;
    color: #fff;
}

button[type=submit].btn:hover {
    background-color: #484848;
}

div.form-group label:not(.text-danger) {
    color: #545d6a;
    font-weight: 700;
}

div.form-group.required>label:first-child:after {
    content: '*';
    color: #fff;
    padding-left: 5px;
}

#toast-container>div {
    opacity: 1;
}

.wrapped-div {
    -webkit-border-radius: 10px 10px 10px 10px;
    border-radius: 10px 10px 10px 10px;
    background: #2e3137;
    padding: 30px;
    width: 90%;
    max-width: 450px;
    position: relative;
    -webkit-box-shadow: 0 30px 60px 0 rgba(0, 0, 0, 0.3);
    box-shadow: 0 30px 60px 0 rgba(0, 0, 0, 0.3);
}


/* Tabs */

.tab-header {
    text-align: center;
    padding-bottom: 20px;
}

.tab-header h2.active {
    color: #fff;
    border-bottom: 4px solid #fff;
}

.tab-header h2 {
    text-align: center;
    font-size: 18px;
    font-weight: 600;
    display: inline-block;
    padding: 10px 40px 10px 40px;
    cursor: pointer;
    color: white;
    border-bottom: 2px solid white;
}

form {
    margin: 0px 16px;
}

div.form-group input.invalid {
    border: 1px solid #dc3545;
}

div.form-group label:first-child {
    text-transform: uppercase;
    font-size: 0.9rem;
}

h2 {
    color: white;
}

select {
    background: #636b7b;
    border: none;
    width: 370px;
    height: 35px;
    color: white;
    border-radius: 5px;
}

#result,
#explanation {
    color: white;
    width: 100%;
    text-align: left;
}

.table-div {
    width: 50%;
    margin-top: 2rem;
}

.table,
th,
tr,
td {
    border: 1px inset black;
    margin-top: 2rem;
}

th,
td {
    width: 50%;
    text-align: center;
}