<div class="jumbotron">
    <h1 class="text-center">Exercises</h1>
    <br>
    <div class="form-group">
        <input type="text" class="form-control" placeholder="Search Here" [(ngModel)]="term">
    </div>
    <div class="row">
        <div class="col-xs" *ngFor="let part of PartOfBody" (click)="filter(part)" [ngClass]="{ 'selected': part == selectedItem }">
            <div class="part"><span class="underline">{{part}}</span></div>
        </div>
        <div class="col-xs">
            <div class="part" name="all" (click)="filter('all')" [ngClass]="{ 'selected': 'all' == selectedItem }"><span class="underline">All</span>
            </div>
        </div>
    </div>
    <div class="row">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Name
                    </th>
                    <th scope="col">Part of body

                    </th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let exercises of exerciseService.list  | filter:term | paginate: { itemsPerPage: 10, currentPage: p };">
                    <td>{{exercises.name}}</td>
                    <td>{{exercises.partOfBody}}</td>
                </tr>
            </tbody>
        </table>
        <div class="pagination">
            <pagination-controls (pageChange)="p = $event"></pagination-controls>
        </div>
    </div>
</div>