<header>
  <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
    <a class="navbar-brand" routerLink="">Fitweb</a>
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="true"
      aria-label="Toggle navigation"
    >
      <span class="toggler navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a
            class="nav-link"
            routerLink=""
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
            >Home</a
          >
        </li>
        <li class="nav-item" *ngIf="!currentUser">
          <a
            class="nav-link"
            routerLink="sign"
            routerLinkActive="active"
            (click)="redirect()"
            >Sign in</a
          >
        </li>
        <li class="nav-item" *ngIf="currentUser">
          <a class="nav-link" routerLink="" routerLinkActive="active"
            >Profile</a
          >
        </li>
        <li class="navi-item" *ngIf="currentUser">
          <a class="nav-link" (click)="logout()">Logout</a>
        </li>
      </ul>
    </div>
  </nav>
</header>
