.navbar {
  text-transform: uppercase;
  padding: 10px 0;
  font-weight: 700;
  font-size: 0.9rem;
  letter-spacing: 0.1rem;
  background: rgba(0, 0, 0, 0.7) !important;
}

.navbar-brand {
  height: 2rem;
  margin-left: 0.2rem;
  margin-top: -0.6rem;
  font-size: 1.5rem;
  letter-spacing: 0.3rem;
}

.navbar-brand:hover {
  color: #1ebba3;
  cursor: pointer;
}

header {
  margin-bottom: 50px;
}

.navbar-nav li {
  padding-right: 0.7rem;
}

.navbar-dark .navbar-nav .nav-link {
  color: white;
  padding-top: 0.3rem;
}

.navbar-dark .navbar-nav .nav-link.active {
  border-bottom: 2px solid #1ebba3;
}
.navbar-dark .navbar-nav .nav-link:hover {
  color: #1ebba3;
}

.navbar-collapse .navbar-nav .nav-link {
  margin-left: 10px;
  cursor: pointer;
}
