<div class="date">Choose date to check what products you used: </div>
<input #queryDate type="date" class="form-control" placeholder="Choose a date" (change)=filter(queryDate.valueAsDate)>
<table class="table table-hover">
    <thead>
        <th>Name</th>
        <th>Calories</th>
        <th>Proteins</th>
        <th>Carbohydrates</th>
        <th>Fats</th>
        <th>Weight</th>
        <th>Delete</th>
    </thead>
    <tr *ngFor="let data of userProductService.list">
        <td [routerLink]="['/account/edit-product', {productId: data.product.id, name: data.product.name}]">{{data.product.name}}</td>
        <td [routerLink]="['/account/edit-product', {productId: data.product.id, name: data.product.name}]" id="calories">{{data?.calories}}</td>
        <td [routerLink]="['/account/edit-product', {productId: data.product.id, name: data.product.name}]" id="proteins">{{data.proteins}}</td>
        <td [routerLink]="['/account/edit-product', {productId: data.product.id, name: data.product.name}]" id="carbohydrates">{{data.carbohydrates}}</td>
        <td [routerLink]="['/account/edit-product', {productId: data.product.id, name: data.product.name}]" id="fats">{{data.fats}}</td>
        <td [routerLink]="['/account/edit-product', {productId: data.product.id, name: data.product.name}]" id="weight">{{data.weight}}</td>
        <td>
            <i class="far fa-trash-alt fa-lg text-danger" (click)="onDelete(data.id)"></i>
        </td>
    </tr>
</table>