/*

  Content:
    1. Home landing image
    2. Text on the image
    3. Functionalities section
      3.1 Functionalities header
      3.2 Functionalities flexbox container
      3.3 Functionalities icons
      3.4 Functionalities buttons
*/

/*

  Home landing image

*/

.home-landing-img {
  width: 100%;
  max-height: 100vh;
  height: auto;
}

/* 

  Text on the image

*/

.caption {
  width: 100%;
  max-width: 100%;
  position: absolute;
  top: 38%;
  z-index: 1;
  color: white;
  text-transform: uppercase;
}

.caption h1 {
  font-size: 3.8rem;
  font-weight: 700;
  letter-spacing: 0.3rem;
  text-shadow: 0.1rem 0.1rem 0.8rem black;
  padding-bottom: 3rem;
}

.caption h3 {
  font-size: 2rem;
  text-shadow: 0.1rem 0.1rem 0.5rem black;
  padding-bottom: 1rem;
}

/* 

  Functionalities section

*/
.functionalities {
  margin-top: 2rem;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
}

/* 

    Functionalities header

*/
.narrow {
  text-align: center;
}

.heading {
  font-size: 2rem;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 2rem;
  letter-spacing: 0.4rem;
}

.heading-underline {
  width: 15rem;
  height: 0.2rem;
  background-color: #16caaf;
  margin: 0 auto 2rem;
}

/* 

    Functionalities flexbox container

*/
.flex-items {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
}

.flex-item {
  text-align: center;
}

/* 

    Functionalities icons

*/

i {
  margin-bottom: 0.5rem;
}
i:hover {
  transform: scale(1.1);
  color: #27c4ac;
}

/* 

    Functionalities buttons

*/

.btn-lg {
  border-width: medium;
  border-radius: 1.5rem;
  padding: 0.6rem 1.3rem;
  font-size: 1.1rem;
}

.btn-lg:hover {
  background: none;
  color: black;
  border-color: #1ebba3;
  transform: scale(1.1, 1.1);
  -webkit-transform: scale(1.1, 1.1);
  -moz-transform: scale(1.1, 1.1);
}

@media (max-width: 1200px) {
  .caption {
    top: 25%;
  }
}

@media (max-width: 800px) {
  .caption {
    top: 15%;
  }
  .caption h1 {
    font-size: 2rem;
    letter-spacing: 0.15rem;
    padding-bottom: 0.5rem;
  }
  .caption h3 {
    font-size: 1.2rem;
    padding-bottom: 1.2rem;
  }
  .narrow h1 {
    font-size: 1.5rem;
  }

  i {
    font-size: 3rem;
  }
  .btn-lg {
    border-width: medium;
    border-radius: 1.5rem;
    padding: 0.3rem 1rem;
    font-size: 1.1rem;
  }
}

@media (max-width: 700px) {
  .home-landing-img {
    width: 100%;
    max-width: 100vh;
    height: auto;
  }
  .caption h1 {
    font-size: 1.6rem;
    letter-spacing: 0.15rem;
    padding-bottom: 0.6rem;
  }
  .caption h3 {
    font-size: 1rem;
    padding-bottom: 1.2rem;
  }
}
