<div class="home-landing">
  <img
    class="image-fluid"
    src="assets/images/landing_page.jpg"
    alt="Landing image"
  />
  <div class="caption-wrapper">
    <div class="caption">
      <h2>Training and diet app</h2>
    </div>
  </div>
</div>

<div class="functionalities">
  <div class="narrow">
    <h3 class="heading">Functionalities</h3>
    <div class="heading-underline"></div>
  </div>
</div>
<div class="flex-items">
  <div class="flex-item">
    <i class="fa fa-dumbbell fa-4x"></i>
    <p>Choose exercises and have your training in one place</p>
    <a class="btn btn-outline-dark btn-lg" routerLink="products"
      >Add exercise</a
    >
  </div>
  <div class="flex-item">
    <i class="fas fa-cookie-bite fa-4x"></i>
    <p>Choose products and have your diet in one place</p>
    <a class="btn btn-outline-dark btn-lg" routerLink="exercises"
      >Add product</a
    >
  </div>
  <div class="flex-item">
    <i class="fa fa-sticky-note fa-4x"></i>
    <p>Set your macronutrients demand and control it</p>
    <a class="btn btn-outline-dark btn-lg">Check it</a>
  </div>
</div>
