.footer {
  background: rgba(0, 0, 0, 0.7) !important;
  color: white;
  padding: 1rem 0 2rem;
}

.footer-row {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.col {
  width: auto;
  text-align: center;
}

.col-item {
  margin: 0 auto;
}

.contacts {
  text-align: center;
  width: 20%;
  margin: 0 auto;
}

.flex-contacts {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.contact {
  cursor: pointer;
  letter-spacing: 0.05rem;
}

.contact i {
  position: relative;
  top: 0;
  transition: all ease 0.5s;
}

.contact-i {
  color: #16caaf;
  transform: translateY(-5px) scale(1.2, 1.2);
}

h1 {
  letter-spacing: 0.2rem;
  font-weight: 700;
  margin-bottom: 0.5rem;
}

hr.socket {
  width: 100%;
  border-top: 0.2rem solid #dae4f0;
  margin: 0.8rem 0;
}

i {
  font-size: 20px;
}

@media screen and (max-width: 1028px) {
  .footer {
    font-size: 1.7rem;
  }

  .contacts {
    width: 60%;
  }

  .contact i {
    font-size: 1.7rem;
  }
}

@media screen and (max-width: 800px) {
  .footer {
    font-size: 1.1rem;
  }

  .contacts {
    width: 80%;
  }

  .contact i {
    font-size: 1.1rem;
  }
}

@media screen and (max-width: 640px) {
  .footer {
    font-size: 1.3rem;
  }

  .contacts {
    width: 80%;
  }

  .contact i {
    font-size: 1.3rem;
  }
}

@media screen and (max-width: 440px) {
  .footer {
    font-size: 1rem;
  }

  .contacts {
    width: 80%;
  }

  .contact i {
    font-size: 1rem;
  }
}

@media screen and (max-width: 320px) {
  .contacts {
    width: 90%;
  }
}
