* {
  margin: 0;
  padding: 0;
}
footer {
  background: rgba(0, 0, 0, 0.7) !important;
  color: white;
  padding: 1rem 0 2rem;
  width: 100%;
  margin-top: 4rem;
}

h1 {
  letter-spacing: 0.2rem;
  font-weight: 700;
  margin-bottom: 0.5rem;
}

hr.socket {
  width: 100%;
  border-top: 0.2rem solid #dae4f0;
  margin: 0.8rem 0;
}
