<footer class="footer">
  <div class="footer-row">
    <div class="col">
      <h1 class="col-item">FITWEB</h1>
      <p class="col-item">
        Everything you need to manage your training and diet.
      </p>
      <strong class="col-item">Contact us:</strong>
    </div>

    <div class="contacts">
      <div class="flex-contacts">
        <div class="contact">
          <i class="fa fa-envelope"></i> <span> fitwebwebapp@gmail.com</span>
        </div>
        <div class="contact">
          <i class="fab fa-facebook-square"></i>
          <span> Fitweb</span>
        </div>
      </div>
    </div>
    <hr class="socket" />
    <div class="col-md-5 text-center">Karol Niedziela &copy;2021</div>
  </div>
</footer>
